@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --radius: 0.75rem;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji";
}

a:focus, button:focus, input:focus, select:focus, textarea:focus {
  outline: 2px solid rgba(83, 117, 186, 0.6);
  outline-offset: 2px;
}
